<?xml version="1.0"?>
<launch>	
	<node pkg="vision-ky" type="seg.py" name="seg"></node>
	<node pkg="vision-ky" type="sign.py" name="sign"></node>

    <!-- Odometry coordinate frame -->
    <arg name="odometry_frame"       default="map" />
    <arg name="camera_model"          default="0" /> <!-- 0=ZED, 1=ZEDM-->
    <arg name="serial_number"           default="0" /> 

    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="$(arg odometry_frame)" />
            <arg name="camera_model"        value="$(arg camera_model)" />
            <arg name="serial_number"           default="$(arg serial_number)" /> 
        </include>
  <arg name="camera" default="zed"/>
  <arg name="tf_prefix" default="" />
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg camera)_base_link1"
    args="0 0 0 0 0 0 1 map $(arg tf_prefix)/$(arg camera)_initial_frame" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg camera)_base_link3"
    args="0 0 0 0 0 0 1 $(arg tf_prefix)/$(arg camera)_current_frame ZED_left_camera" />

    </group>

	<include file="$(find vision-ky)/launch/imu.launch"/>
	<include file="$(find vision-ky)/launch/lidar.launch"/>
	<include file="$(find pid)/launch/pid_code.launch"/>	
</launch>
